@font-face {
    font-family: gothicR;
    src: url(../fonts/secgcwr.eot);
    src: local(※), url(../fonts/secgcwr.woff) format("woff")
}

@font-face {
    font-family: gothicM;
    src: url(../fonts/secgcwm.eot);
    src: local(※), url(../fonts/secgcwm.woff) format("woff")
}

@font-face {
    font-family: gothicB;
    src: url(../fonts/secgcwb.eot);
    src: local(※), url(../fonts/secgcwb.woff) format("woff")
}

@font-face {
    font-family: samsungone-100;
    src: url(../fonts/SamsungOne-100.eot);
    src: local(※), url(../fonts/SamsungOne-100.woff) format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: samsungone-400;
    src: url(../fonts/SamsungOne-400.eot);
    src: local(※), url(../fonts/SamsungOne-400.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: samsungone-700;
    src: url(../fonts/SamsungOne-700.eot);
    src: local(※), url(../fonts/SamsungOne-700.woff) format("woff");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: samsungone-800;
    src: url(../fonts/SamsungOne-800.eot);
    src: local(※), url(../fonts/SamsungOne-800.woff) format("woff");
    font-weight: 800;
    font-style: bold
}

@font-face {
    font-family: museosans-100;
    src: url(../fonts/museosans-100.eot);
    src: local(※), url(../fonts/museosans-100.woff) format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: museosans-300;
    src: url(../fonts/museosans-300.eot);
    src: local(※), url(../fonts/museosans-300.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: museosans-500;
    src: url(../fonts/museosans-500.eot);
    src: local(※), url(../fonts/museosans-500.woff) format("woff");
    font-weight: 500;
    font-style: bold
}

@font-face {
    font-family: museosans-700;
    src: url(../fonts/museosans-700.eot);
    src: local(※), url(../fonts/museosans-700.woff) format("woff");
    font-weight: 700;
    font-style: bold
}