@import "font.css";

.navbar {
    font-family: museosans-500;
    font-size: 18px;
    background-color: #fff;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    vertical-align: middle
}

.navbar-nav>li>a {
    margin: 25px 20px 23px;
    padding: 5px 0;
    line-height: 20px;
    position: relative;
    display: block
}

.navbar-nav>li.login>a {
    margin-left: 0;
    margin-right: 0
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
    border-bottom: 2px solid #999
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    font-family: museosans-500;
    font-size: 18px;
    background-color: #fff;
    margin-bottom: 0;
    vertical-align: middle
}

.navbar-inverse .navbar-nav>li.active>a,
.navbar-inverse .navbar-nav>li.active>a:hover,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar a.navbar-brand,
.navbar-inverse .navbar a.navbar-brand:hover {
    color: #999
}

.navbar-nav>li.navbar-divisor {
    display: table-cell;
    border-left: 2px solid #999;
    width: 0;
    height: 30px;
    margin-top: 25px;
    margin-left: 8px
}

.navbar a.navbar-brand,
.navbar a.navbar-brand:hover {
    font-family: museosans-700;
    font-size: 30px;
    color: #999
}

.navbar-nav {
    float: left
}

.nav {
    list-style: none
}

.navbar-brand {
    float: left;
    padding: 15px;
    margin: 15px auto;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-brand>img {
    display: block
}

@media (min-width:768px) {

    .navbar>.container-fluid .navbar-brand,
    .navbar>.container .navbar-brand {
        margin-left: 0
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

.navbar-right {
    float: right !important;
    margin-right: 200px
}

.container>.navbar-header {
    margin-left: 195px
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width:1600px) {
    .container {
        width: 1200px
    }
}

.navbar-nav {
    margin: 7.5px -15px;
    vertical-align: middle
}

@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-nav .open .dropdown-menu>li>a:hover {
        background-image: none
    }

    .container>.navbar-collapse,
    .container>.navbar-collapse.in {
        background-color: #fff;
        float: left;
        margin-left: 6px
    }

    .navbar-nav>li.navbar-divisor {
        display: none
    }

    .navbar-nav>li.login>a {
        margin-left: 20px
    }
}

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1
}

.navbar-wrapper .navbar,
.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0
}

.navbar-wrapper .navbar .container {
    width: auto;
    height: 82px
}

@media (min-width:768px) {
    .navbar-wrapper {
        margin-top: 20px
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px
    }

    .navbar-wrapper .navbar {
        border-radius: 4px
    }

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4
    }

    .featurette-heading {
        font-size: 50px
    }
}

@media (min-width:992px) {
    .featurette-heading {
        margin-top: 120px
    }
}

.d-header.clearfix {
    display: none
}

.navbar-wrapper {
    margin-top: 0;
    position: relative
}

.navbar-wrapper .nav.navbar-nav .searchbox {
    display: none;
    z-index: 2;
    width: 170px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 19px;
    background-color: #efefef;
    border-radius: 6px;
    margin-right: 10px
}

.navbar-wrapper .nav.navbar-nav .searchbox>input {
    background-color: #efefef;
    font-family: museosans-500;
    font-size: 15px;
    color: #999;
    text-align: left;
    width: 125px;
    height: 40px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
    border: none
}

.navbar-wrapper .nav.navbar-nav .searchbox>input:focus {
    border: none;
    -ms-box-shadow: none;
    box-shadow: none
}

.navbar-wrapper .nav.navbar-nav .searchbox img {
    margin: auto;
    margin-left: 11px
}

.navbar-wrapper .nav.navbar-nav>li.avatar>a {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 20px 7px 0 0;
    background-color: #fff;
    background-image: url(../images/img_default_profile.png);
    background-repeat: no-repeat;
    border: none
}

.navbar-wrapper .nav.navbar-nav>li.active.search>a {
    background-color: #fff;
    border-bottom: 2px solid transparent;
    margin-left: 25px;
    margin-right: 25px
}

.navbar-wrapper .nav.navbar-nav>li.search .search-btn {
    width: 19px;
    height: 20px;
    background-image: url(../images/ic_search_gray.png)
}

.sitemap {
    background-color: #f7f7f7;
    padding: 30px 0 0
}

.sitemap .container {
    width: 100%;
    padding: 0
}

.sitemap .row:first-child {
    height: 50px;
    border-top: none
}

.sitemap .row:nth-child(2) {
    height: 39px;
    border-top: none;
    border-bottom: 1px solid #d0d0d0
}

.sitemap .row:last-child {
    height: 113px;
    vertical-align: middle;
    display: table
}

.sitemap .nav-footer {
    background-color: #fff;
    font-family: museosans-700;
    font-size: 16px;
    color: #333;
    vertical-align: middle;
    list-style: none;
    display: block;
    margin-bottom: 0;
    padding-left: 51px
}

.sitemap .container .row .nav-footer>li {
    display: block;
    position: relative;
    float: left
}

.sitemap .container .row .nav-footer>li>a {
    color: #333
}

.sitemap .container .row .nav-footer>li>a:hover {
    color: #56c4d8
}

.sitemap .container .row .nav-footer>li.navbar-divisor {
    vertical-align: middle;
    height: 13px;
    border-left: 1px solid #333;
    margin: 4px 30px 0
}

.sitemap .container .row .footer-social {
    background-color: #fff;
    font-family: museosans-300;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
    list-style: none;
    display: block;
    padding-left: 51px;
    margin-bottom: 30px
}

.sitemap .container .row .footer-social>a {
    display: block;
    position: relative;
    float: left
}

.sitemap .container .row .footer-social>li {
    display: block;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 30px;
    vertical-align: middle;
    padding-top: 2px
}

.sitemap .container .row .footer-social>li>a {
    color: #333
}

.sitemap .container .row .footer-social>li>a:hover {
    font-family: museosans-300;
    font-size: 14px;
    color: #56c4d8
}

table.sitemap-table {
    margin-left: 40px;
    padding-left: 32px;
    padding-right: 32px;
    width: 520px;
    color: #333;
    opacity: .7
}

table.sitemap-table th {
    width: 150px;
    border-right: 1px solid #333;
    text-align: center
}

table.sitemap-table th:last-child {
    width: 150px;
    border-right: none;
    text-align: center
}

table.sitemap-table td {
    vertical-align: top;
    width: 100px
}

.sitemap table.footer-table {
    vertical-align: middle;
    margin-left: 51px
}

.sitemap table.footer-table tr td {
    font-family: museosans-300;
    font-size: 13px;
    line-height: 22px;
    color: #999;
    width: 750px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify
}

table,
td,
th {
    border: 1px solid #999;
    color: #333
}

table th {
    font-family: museosans-700;
    font-size: 16px;
    padding: 6px 13px;
    text-align: center
}

table tr:nth-child(2n) {
    background: #dee9ec
}

table td {
    font-family: museosans-300;
    font-size: 13px;
    line-height: 22px;
    padding: 6px 13px
}

blockquote {
    margin-top: 16px
}

.dropdown-menu:before {
    content: "";
    position: absolute;
    right: 70px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent #ddd;
    z-index: 3
}

.navbar-right .dropdown-menu {
    text-align: center;
    top: 70px;
    right: 10px;
    background-color: #ddd;
    border: transparent;
    border-radius: 6px !important;
    font-family: museosans-300;
    font-size: 15px;
    padding: 5px 0;
    left: -60px
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:hover {
    color: #777;
    border-radius: 6px !important;
    margin-left: 1px;
    padding: 10px 0
}

.landing-tizen .container .btn-default {
    border-radius: 6px;
    font-family: museosans-700;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #56a5d8;
    padding: 8px
}

.landing-tizen .container .btn-default:hover {
    background-color: #1a689b
}

.landing-tizen .container .btn-edit {
    width: 80px;
    float: right
}