---
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
<body>
 <a href="/">Homepage URL</a>
 <h1>version landing page -  {{site.docsVersion}}</h1>
 <h4>Pages are - </h4>
 <ul>
	{% assign pages = site.pages %}
	{% for page in pages %}
		<li><a href="{{page.url | remove_first: "/"}}">{{page.title}}</a></li>
	{% endfor %}
 </ul>
 <p>Hi, This is {{site.docsVersion}}.. This is coming from {{site.docsVersion}} branch </p>
 <h4>Widgets are - </h4>
 <div id="templates"></div>
 <div id="widgetOldVersions"></div>
 <div id="widgetVersionSwitcher"></div>
 <div class="widgetLatestVersionNotification"></div>
 
</body>
</html>
