<header>
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <nav class="nav-primary">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="logo" href="/" title="Tizen Documentation">
                                    Tizen
                                </a>
                            </div>
                            <div class="navbar-collapse collapse" id="navbar">
                                <ul class="primary nav navbar-nav visible-xs">
                                    <li>
                                        <a href="platform/about/tizen-open-source-overview" target="_blank">Design</a>
                                    </li>
                                    <li>
                                        <a href="platform/about/tizen-open-source-overview" target="_blank">Development</a>
                                    </li>
                                    <li>
                                        <a href="application/">Application</a>
                                    </li>
                                    <li>
                                        <a href="platform/about/tizen-open-source-overview">Platform</a>
                                    </li>
                                    <li>
                                        <a href="iot/">IoT</a>
                                    </li>
                                      <li class="dropdown">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visual Studio<span class="caret"></span></a>
                                          <ul class="dropdown-menu nav-main">
                                                <h6 class="dropdown-header">For Desktop</h6>
                                                <li><a href="#">Mac & Windows</a></li>
                                                <h6 class="dropdown-header">For Cloud Providers</h6>
                                                <li><a href="#">AWS</a></li>
                                                <li><a href="#">Azure</a></li>
                                                <h6 class="dropdown-header">For Servers</h6>
                                                <li><a href="#">Windows Server</a></li>
                                                <li><a href="#">CentOS</a></li>
                                                <li><a href="">Debian</a></li>
                                         </ul>
                                    </li>    
                                </ul>
                                <div class="widgetVersionSwitcher px-10"></div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- hero banner text -->
            <div class="container-fluid">
                <div class="row">
                    <div class="hero-text">
                        <div class="hero-text-centered">
                            <h1>Tizen Documentation</h1>
                            <p>An open and flexible operating system built from the ground up to address the needs of
                                all stakeholders of the mobile and connected device ecosystem, including device manufacturers, mobile operators, application developers and independent software vendors (ISVs).
                            </p>
                            <div class="header-search">
                                <form class="search-form" action="search.html">
                                    <input class="search-field form-control ds-input st-search-input" value="" name="q" placeholder="Search the docs" type="search" autocomplete="off" spellcheck="false" dir="auto">
                                    <button type="submit" class="search-button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- nav-secondary -->
            <!-- data-offset-top should calculated as follows: (height of <header> - header of <nav>) -->
            <nav class="nav-secondary-tabs" data-spy="affix" data-offset-top="385">
                <div class="container-fluid">
                    <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
                        {% include navigation.html %}
                    </div>
                </div>
            </nav>
        </div>
    </header>
