<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon"  href="/favicon.ico" />
<title>{{page.title}}</title>
<meta name="description" content="{{page.desc}}"/>
<meta name="keywords" content="{{page.keywords}}"/>
<base id="baseURL" href="/{{site.docsVersion}}/" />
<meta id="docsVersion" content="/" />
<meta name="last-modified" content="{{ site.time }}" />
<meta http-equiv="cache-control" content="max-age=24" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Expires" content="600" />

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css?v={{ site.time | | date: '%d%m%Y'}}">

<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
