<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Docs</a>
            </div>

            <ul id="navbar" class="nav navbar-nav navbar-right">
                <li><a href="/docs/what-is-tizen/overview/tizen.page">What is Tizen</a></li>
                <li><a href="/docs/open-source-tizen/about/tizen-open-source-overview.page">Open Source Tizen</a></li>
                <li><a href="https://developer.tizen.org" target="_blank">Application</a></li>
                <li><a href="https://developer.tizen.org/development/tizen-studio/download" target="_blank">Download</a></li>
                <li class='navbar-divisor'></li>

                 <li class='search'><a id='gnb_search_btn' href="#"><div class='search-btn'></div></a>
                <!--div id='gnb_search_box' class='searchbox'-->
                    <form method='GET' id='gnb_search_box' class='searchbox' action=<?=$portal_search_url?> >
                        <input class='form-control' type=text name='q' placeholder="Search ...">
                        <a href='#'><img src='/images/ic_search_ac.png'></a>
                    </form>
                      <!--/div-->
                </li>
            </ul>
        </div>
    </nav>
</div><!-- //navbar-wrapper-->
