<header>
    <div class="header">
        <div class="fan"></div>
        <div class="container-fluid">
            <div class="row">
                <nav class="nav-primary">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="logo" href="/" title="Tizen Documentation">
                                Tizen
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="primary nav navbar-nav">
                                <li>
                                    <a href="platform/about/tizen-open-source-overview">Platform</a>
                                </li>
                                <li>
                                    <a href="application/">Application</a>
                                </li>
                                <li>
                                    <a href="iot/">IoT</a>
                                </li>
                                <li>
                                    <a href="https://developer.tizen.org/development/tizen-studio/download" target="_blank">Download</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- hero banner text -->
        <div class="container-fluid">
            <div class="row">
                <div class="hero-text">
                    <div class="hero-text-centered">
                        <h1>Tizen Documentation</h1>
                        <p>An open and flexible operating system built from the ground up to address the needs of
                            all stakeholders of the mobile and connected device ecosystem, including device manufacturers, mobile operators, application developers and independent software vendors (ISVs).</p>
                        <ul class="buttons">
                            <li>
                                <a class="button transparent-btn" href="https://www.tizen.org/user/register" target="_blank">
                                    Register
                                </a>
                            </li>
                            <li>
                                <a class="button secondary-btn" href="platform/developing/cloning" target="_blank">
                                    Get Tizen
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- nav-secondary -->
        <!-- data-offset-top should calculated as follows: (height of <header> - header of <nav>) -->
        <nav class="nav-secondary-tabs" data-spy="affix" data-offset-top="385">
            <div class="container-fluid">
                <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
                    {% include navigation.html %}
                </div>
            </div>
        </nav>
    </div>
</header>