<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta id="docsVersion" content="{{site.docsVersion}}" />
<title>{{page.title}}</title>
<meta name="description" content="{{page.desc}}"/>
<meta name="keywords" content="{{page.keywords}}"/>
<link rel="icon"  href="/favicon.ico" />

<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/carousel.css?v={{ site.time | | date: '%d%m%Y'}}">
<link rel="stylesheet" href="/css/custom.css?v={{ site.time | | date: '%d%m%Y'}}">
<link rel="stylesheet" href="/css/responsive.css?v={{ site.time | | date: '%d%m%Y'}}">
<link rel="stylesheet" href="/css/main.css?v={{ site.time | | date: '%d%m%Y'}}">
