<div class="sidebar-toggle">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="nav-container">
    <a class="logo" href="/" title="Tizen Documentation">
        Tizen
    </a>
    <div id="tabs">
        {% assign directory = page.path | split: '/' %}
        {% assign subdirectory = directory[0] %}
        <ul class="tabs" id="jsTOCHorizontal">
            <li class="{% if subdirectory == 'design' %}active{% endif %}">
                <a href="design/">Design</a>
            </li>
            <li class="{% if subdirectory == 'application' %}active{% endif %}">
                <a href="application/">Platform</a>
            </li>
            <li class="{% if subdirectory == 'iot' %}active{% endif %}">
                <a href="iot/">IoT</a>
            </li>
            <li class="{% if subdirectory == 'visualstudio' %}active{% endif %} dropdown">
                <a href="tizenstudio/setup/overview/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visual Studio<span class="caret"></span></a>
                <ul class="dropdown-menu nav-main">
                    <li><a href="#">Visual Studio Tools For Tizen</a></li>
                    <li><a href="#">Visual Studio Code Extension For Tizen</a></li>
                    <li><a href="#">Visual Studio For Mac Extension for Tizen</a></li>
                 </ul>
            </li>
            <li class="{% if subdirectory == 'visualstudio' %}active{% endif %}">
                <a href="tizenstudio/setup/overview/">Tizen Studio</a>
            </li>
             <li class="{% if subdirectory == 'iot' %}active{% endif %} dropdown">
                <a href="tizenstudio/setup/overview/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IoT<span class="caret"></span></a>
                <ul class="dropdown-menu nav-main">
                    <li><a href="#">IoT Extension SDK</a></li>
                    <li><a href="#">IoT partners</a></li>
                 </ul>
            </li>
            <li class="{% if subdirectory == 'blogs' %}active{% endif %}">
                <a href="tizenstudio/setup/overview/">Blogs</a>
            </li>
            <li class="{% if subdirectory == 'community' %}active{% endif %}">
                <a href="tizenstudio/setup/overview/">Community</a>
            </li>
        </ul>
    </div>
    <div class="ctrl-right hidden-xs hidden-sm">
        <a href="javascript:void(0)" id="menu-toggle"><i class="fa fa-indent" aria-hidden="true"></i></a>
        <div class="widgetVersionSwitcher"></div>
    </div>
    <div class="search-form">
        <form action="search.html">
            <input class="search-field form-control ds-input st-search-input" value="" name="q" placeholder="Search the docs" type="search" autocomplete="off" spellcheck="false" dir="auto">
            <button type="submit" class="search-button">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    
</div>
