<div class="sidebar-toggle">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="nav-container">
    <a class="logo" href="/" title="Tizen Documentation">
        Tizen
    </a>
    <div id="tabs">
        <ul class="tabs" id="jsTOCHorizontal">
            <li>
                <a href="design/introduction/index">Design</a>
            </li>
            <li>
                <a href="platform/about/work-flow/">Platform</a>
            </li>
            <li>
                <a href="platform/about/tizen-open-source-overview" target="_blank">Application</a>
            </li>
            <li class="dropdown">
                 <a href="visualstudio/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visual Studio<span class="caret"></span></a>
                 <ul class="dropdown-menu nav-main">
                     <li><a href="visualstudio/vstools/index/">Visual Studio Tools For Tizen</a></li>
                     <li><a href="visualstudio/vscode-ext/index/">Visual Studio Code Extension For Tizen</a></li>
                     <li><a href="visualstudio/vstools-mac/overview/">Visual Studio For Mac Extension for Tizen</a></li>
                 </ul>
            </li>
            <li>
                <a href="tizenstudio/setup/overview/">Tizen Studio</a>
            </li>
            <li class="dropdown">
                 <a href="iot/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IoT<span class="caret"></span></a>
                 <ul class="dropdown-menu nav-main">
                     <li><a href="iot/extensionsdk/">IoT Extension SDK</a></li>
                     <li><a href="iot/iot-partners/nubison/">IoT partners</a></li>
                 </ul>
            </li>     
            <li>
                <a href="application/">Blogs</a>
            </li>
            <li>
                <a href="tizenstudio/setup/overview/">Community</a>
            </li>
        </ul>
    </div>
    <div class="ctrl-right hidden-xs hidden-sm">
        <a href="javascript:void(0)" id="menu-toggle"><i class="fa fa-indent" aria-hidden="true"></i></a>
        <div class="widgetVersionSwitcher"></div>
    </div>
    <div class="search-form">
        <form action="search.html">
            <input class="search-field form-control ds-input st-search-input" value="" name="q" placeholder="Search the docs" type="search" autocomplete="off" spellcheck="false" dir="auto">
            <button type="submit" class="search-button">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    
</div>
