{% assign directory = page.path | split: '/' %}
{% assign subdirectory = directory[0] %}
{% assign currentPage = page.url | remove_first: "/" %}
<div id="navbar" class="nav-sidebar">
    <ul class="nav" id="jsTOCLeftNav">
        {% for version in site.data.sidebar[subdirectory] %}
        {% for menu in version.sidebar %}
        {% assign finalurl = menu.url %}
        {% assign sections = finalurl | split: '/' %}
    
        <li>
            <a 
                href="{{finalurl}}" 
                data-target="#item{{ forloop.index }}" 
                data-toggle="collapse" 
                data-parent="#stacked-menu"
                aria-expanded="{% if (sections[1] == directory[1] ) %} true {% else %} false {% endif %}"
                class="{% if (sections[1] == directory[1] ) %} not-collapsed {% else %} collapsed {% endif %}"
                >
                    {{menu.title}}
                    <span class="caret arrow"></span>
            </a>
            {% if menu.subfolderitems[0] %}

            {% if (sections[1] == directory[1] ) %}
            <ul class="nav collapse in" aria-expanded="true" id="#item{{ forloop.index }}">
            {% else %}
            <ul class="nav collapse" aria-expanded="false" id="#item{{ forloop.index }}">
            {% endif %}

                {% for submenu in menu.subfolderitems %}
                <li>
                    {% if submenu.subfolderitems[0] %}
                    {% assign submenufinalurl = submenu.url %}
                    <a 
                        href="{{submenufinalurl}}"
                        class="{% if submenufinalurl == page.url %}active currentPage{% endif %}"
                        aria-expanded="{% if (sections[1] == directory[1] ) %} true {% else %} false {% endif %}"
                        data-target="#item{{ forloop.index }}" 
                        data-toggle="collapse" 
                        >
                        {{submenu.page}}
                        <span class="caret arrow"></span>
                    </a>
                    
                    {% if (sections[1] == directory[1] ) %}
                    <ul class="nav collapse in" aria-expanded="true" id="#item{{ forloop.index }}">
                    {% else %}
                    <ul class="nav collapse" aria-expanded="false" id="#item{{ forloop.index }}">
                    {% endif %}
                        {% for subsubmenu in submenu.subfolderitems %}
                        <li>
                            {% assign subsubmenufinalurl = subsubmenu.url %}
                            <a 
                                href="{{subsubmenufinalurl}}"
                                class="{% if subsubmenufinalurl == currentPage %}active currentPage{% endif %}"
                                >
                                {{subsubmenu.page}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {% assign submenufinalurl = submenu.url %}
                    <a 
                        href="{{submenufinalurl}}" 
                        class="{% if submenufinalurl == currentPage %}active currentPage{% endif %}"
                        >
                        {{submenu.page}}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    
        {% endfor %}
        {% endfor %}
    </ul>
</div>
<script>
    $("a[href$='{{page.url | remove_first: " / "  }}']").addClass("active currentPage");
</script>