---
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div class="scroller">
        {% include header.html %}
        <div class="landing-tizen">
            <div class="container">
                <div class="row">
                    <ul class="nav side-menu">
                        <li><a class="hasChild" href="#">Overview<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li><a href="/platform/about/work-flow">Development Workflow</a></li>
                                <li><a href="/platform/about/git-repo-structure">Git Repository Structure</a></li>
                                <li><a href="/platform/about/conventions">Typographic Conventions</a></li>
                            </ul>
                        </li>
                        <li class="open"><a class="hasChild active" href="#">Developing<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li class="open"><a href="/platform/developing/installing"
                                        class="active open">Installing Development Tools</a></li>
                                <li><a href="/platform/developing/setting-up">Setting up Development Environment</a>
                                </li>
                                <li><a href="/platform/developing/cloning">Cloning Tizen Source Files</a></li>
                                <li><a href="/platform/developing/building">Building Packages Locally with GBS</a></li>
                                <li><a href="/platform/developing/building-all">Building All Packages Locally with
                                        GBS</a></li>
                                <li><a href="/platform/developing/contributing">Contributing Code to Tizen</a></li>
                                <li><a href="/platform/developing/creating">Creating Tizen Images with MIC</a></li>
                                <li><a href="/platform/developing/flashing">Flashing an Image to Device</a></li>
                                <li><a href="/platform/developing/tips">Development Tips</a></li>
                            </ul>
                        </li>
                        <li><a class="hasChild" href="#">Porting<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li><a href="/platform/porting/overview">Overview</a></li>
                                <li><a href="/platform/porting/kernel">Kernel</a></li>
                                <li><a href="/platform/porting/system">System</a></li>
                                <li><a href="/platform/porting/graphics-and-ui">Graphics and UI</a></li>
                                <li><a href="/platform/porting/recovery">Recovery</a></li>
                                <li><a href="/platform/porting/multimedia">Multimedia</a></li>
                                <li><a href="/platform/porting/connectivity">Connectivity</a></li>
                                <li><a href="/platform/porting/location">Location</a></li>
                                <li><a href="/platform/porting/telephony">Telephony</a></li>
                                <li><a href="/platform/porting/application">Application</a></li>
                            </ul>
                        </li>
                        <li><a class="hasChild" href="#">Reference<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li><a href="/platform/reference/gerrit-usage">Gerrit</a></li>
                                <li><a class="hasChild" href="#">Git Build System (GBS)<span class="arrow"></span></a>
                                    <ul class="td-tocs depth-2">
                                        <li><a href="/platform/reference/gbs/gbs-overview">Overview</a></li>
                                        <li><a href="/platform/reference/gbs/gbs.conf">GBS Configuration</a></li>
                                        <li><a href="/platform/reference/gbs/gbs-maintenance-models">GBS Maintenance
                                                Models</a></li>
                                        <li><a href="/platform/reference/gbs/gbs-reference">GBS Reference</a></li>
                                        <li><a href="/platform/reference/gbs/gbs-faq">FAQ</a></li>
                                    </ul>
                                </li>
                                <li><a class="hasChild" href="#">MIC Image Creator<span class="arrow"></span></a>
                                    <ul class="td-tocs depth-2">
                                        <li><a href="/platform/reference/mic/mic-overview">Overview</a></li>
                                        <li><a href="/platform/reference/mic/mic-customize-image">Customizing Images</a>
                                        </li>
                                        <li><a href="/platform/reference/mic/mic-reference">MIC Reference</a></li>
                                        <li><a href="/platform/reference/mic/mic-faq">FAQ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a class="hasChild" href="#">Release Notes<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li><a href="/platform/release-notes/tizen-5-5-m1">Tizen 5.5 Public M1</a></li>
                                <li><a href="/platform/release-notes/tizen-5-0-m2">Tizen 5.0 Public M2</a></li>
                                <li><a href="/platform/release-notes/tizen-4-0-m3">Tizen 4.0 Public M3</a></li>
                                <li><a href="/platform/release-notes/tizen-5-0-m1">Tizen 5.0 Public M1</a></li>
                                <li><a href="/platform/release-notes/tizen-4-0-m2">Tizen 4.0 Public M2</a></li>
                                <li><a href="/platform/release-notes/tizen-4-0-m1">Tizen 4.0 Public M1</a></li>
                                <li><a href="/platform/release-notes/tizen-3-0-m4">Tizen 3.0 Public M4</a></li>
                                <li><a href="/platform/release-notes/tizen-3-0-m3">Tizen 3.0 Public M3</a></li>
                                <li><a href="/platform/release-notes/tizen-3-0-m2">Tizen 3.0 Public M2</a></li>
                                <li><a href="/platform/release-notes/tizen-3-0-milestones">Tizen 3.0 Milestones</a></li>
                                <li><a href="/platform/release-notes/tizen-common-milestones">Tizen Common
                                        Milestones</a></li>
                                <li><a href="/platform/release-notes/tizen-ivi-3-0-milestones">Tizen IVI 3.0
                                        Milestones</a></li>
                                <li><a href="/platform/release-notes/tizen-2-3-2">Tizen 2.3.2 for Wearable</a></li>
                                <li><a href="/platform/release-notes/tizen-2-4">Tizen 2.4</a></li>
                                <li><a href="/platform/release-notes/tizen-2-3-1">Tizen 2.3.1</a></li>
                                <li><a href="/platform/release-notes/tizen-2-3">Tizen 2.3</a></li>
                                <li><a href="/platform/release-notes/tizen-2-2-1">Tizen 2.2.1</a></li>
                                <li><a href="/platform/release-notes/tizen-2-2">Tizen 2.2</a></li>
                                <li><a href="/platform/release-notes/tizen-2-1">Tizen 2.1</a></li>
                                <li><a href="/platform/release-notes/tizen-2-0">Tizen 2.0</a></li>
                                <li><a href="/platform/release-notes/tizen-1-0">Tizen 1.0</a></li>
                            </ul>
                        </li>
                        <li><a class="hasChild" href="#">Compliance<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li><a href="/platform/compliance/compliance-program">Tizen Compliance Program</a></li>
                                <li><a href="/platform/compliance/compliance-specification">Tizen Compliance
                                        Specification</a></li>
                                <li><a href="/platform/compliance/compliance-test">Tizen Compliance Test</a></li>
                            </ul>
                        </li>
                        <li><a class="hasChild" href="#">Tizen RT<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li><a href="/platform/tizen-rt/tizen-rt-overview">Overview</a></li>
                                <li><a href="/platform/tizen-rt/rt-getting-started">Getting Started</a></li>
                                <li><a href="/platform/tizen-rt/rt-api">API</a></li>
                                <li><a href="/platform/tizen-rt/rt-specification-1-0">1.0 Specification</a></li>
                                <li><a href="/platform/tizen-rt/rt-goal">Long-term Goals</a></li>
                                <li><a class="hasChild" href="#">Release Notes<span class="arrow"></span></a>
                                    <ul class="td-tocs depth-2">
                                        <li>
                                            <a href="/platform/tizen-rt/release-notes/tizen-rt-1-0-m1">Tizen RT 1.0
                                                M1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a class="hasChild" href="#">Tizen Studio<span class="arrow"></span></a>
                            <ul class="td-tocs depth-1">
                                <li><a href="/platform/tizen-studio/overview">Overview</a></li>
                                <li><a href="/platform/tizen-studio/contribute-gerrit">Contributing to Tizen Studio</a>
                                </li>
                                <li><a class="hasChild" href="#">Developing Extensions<span class="arrow"></span></a>
                                    <ul class="td-tocs depth-2">
                                        <li><a href="/platform/tizen-studio/web-extension-guide">IDE Extension
                                                Development</a></li>
                                        <li><a href="/platform/tizen-studio/emulator-extension-guide">Emulator Extension
                                                Development</a></li>
                                        <li><a href="/platform/tizen-studio/package-file-desc-guide">Package File
                                                Description</a></li>
                                        <li><a href="/platform/tizen-studio/meta-package">Metapackage File
                                                Description</a></li>
                                    </ul>
                                </li>
                                <li><a class="hasChild" href="#">Building Tizen Studio Code<span
                                            class="arrow"></span></a>
                                    <ul class="td-tocs depth-2">
                                        <li><a href="/platform/tizen-studio/environment">Build Environment</a></li>
                                        <li><a href="/platform/tizen-studio/local-build">Local Build Guide</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="body" id="printableArea"> {{content}}

                        <button class="print-btn hidden-print" onclick="printDiv('printableArea')">PRINT</button>

                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    {% include foot.html %}
    <div id="templates"></div>
    <div id="widgetOldVersions"></div>
    <div id="widgetVersionSwitcher"></div>
    <div class="widgetLatestVersionNotification"></div>
</body>

</html>