---
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>
<body>
    <div class="scroller">
        {% include header.html %}
		<main>
        <div class="landing-tizen">
            <div class="container">
                <div class="row">
                    {% include sidebar.html %}
                    <div class="body" id="printableArea">
                        <div class="widgetLatestVersionNotification"></div>
                        {{content}}
                        <button class="print-btn hidden-print" onclick="printDiv('printableArea')">PRINT</button>
                    </div>
                </div>
            </div>
        </div>
		</main>
        {% include footer.html %}
    </div>
    <div id="templates"></div>    
</body>

</html>